body {
	margin: 0px;
}
#map {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#opaca {
	position: absolute;
	overflow: hidden;
	background-color: #000;
	opacity : 0.6;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: none;
}
#finestra {
	position: absolute;
	overflow: hidden;
	background-color: #fff;
	z-index: 11;
	margin: 4em;
	width: 600px;
	height: 350px;
	display: none;
}
#tancar {
	top: 5px;
	left: 570px;
	height: 20px;
	width: 600px;
	background-color: #444;
}
#tancar a {
	color: #fff;
	float:right;
	padding-right: 3px;
	padding-top: 2px;
	text-decoration: none;
}
#contingut {
	overflow: auto;
	height: 300px;
	padding: 10px;
}
