body {
 text-align:center;
}
.error{
 color:red;
 clear:both;
}
.alert{
 color:orange;
}
.correct{
 color:green;
}
fieldset label{
 float:left;
 text-align:right;
 width:20em;
}
.check label{
 float:right;
 text-align:left;
 width:25em;
}
fieldset input{
 float:right;
 width:11em;
}
.check input{
 margin-left:3em;
 float:left;
}
input{
 border:black 1px solid;
 border-radius:3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;

}
fieldset div{
 clear:both;
}
fieldset{
 width:30em;
 margin:auto;
 border-radius:10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
}
.help{
 font-size:x-small;
 text-align:left;
}
table{
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
th, td{
  border-style: solid;
  border-width: 1px;
  border-color: #AAAAAA;
  padding: 5px;
}
th{
  font-weight: bolder;
  background-color: #DDDDDD;
  text-align: left;
}
